<div [style.display]="getView()">
   <div class="overlay"></div>
      <div class="visible">
         <div class="content">
            <span> Ждем ответа от сервера...</span>
            <img style="width:200px" src="assets/indic.gif">
         </div>
    </div>
</div>
<div [ngClass]="{invisible: visibility}">
   Логин: <input type="text" #login id="login"/><br />
   Пароль: <input type="password" #password id="pass"/><br />
   <button (click)="logIn(login.value, password.value)">Войти</button>
</div>
<div [ngClass]="{invisible: nonvisibility}">
   Привет, <b id="userName">{{userName}}</b>
</div>
<button [ngClass]="{invisible: nonvisibility}" (click)="user.logout()">Выйти</button>